{% extends 'VelesHomeWorkBundle:HomeWork:index.html.twig' %}

{% block container %}
    {% if oneTag.error is defined %}
        <b>{{ oneTag.error  }}</b>
    {% else %}
        {% for sectionData in oneTag %}
            <div class="page-header">
                <h1>Tag: {{ sectionData.title }}</h1>
            </div>
            <div class="">
                {% for data in sectionData.articles %}
                    <div class="latest_articles">
                        <div class="title">
                            <h3><a href="{{ path('_single_article', {'aid': data.id}) }}">{{ data.title }}</a></h3>
                            <h5>Category: <a href="{{ path('_single_category', {'catid': data.category.name}) }}">{{ data.category.title }}</a></h5>
                            <div class="clr"></div>
                        </div>
                        <h6><b>Published:</b> {{ data.created.date }}<br> <b>Views:</b> {{ data.views }}</h6>
                        <img class="img-circle-middle" src="https://cdn1.iconfinder.com/data/icons/UltraBuuf/128/Thor.png">
                        {{ data.body|cutString(700) }}
                        <div class="clr"></div>
                        <div class="tags_container">
                            Tags:
                            {% for tags in data.tags %}
                                <a href="{{ path('_single_tag', {'tid': tags.name}) }}">{{ tags.title }}</a>,
                            {% endfor %}
                        </div>
                        <hr />
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock container %}