<div class="sidebar">
    <div class="well sidebar-nav">
        <div class="wrapper articles">
            <ul class="nav nav-list">
                <li class="nav-header">Last Articles</li>
                {% for article in latestArticles %}
                    <li><a href="{{ path('_single_article', {'aid': article.id}) }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="wrapper articles">
            <ul class="nav nav-list">
                <li class="nav-header">Most viewed articles</li>
                {% for article in mostViewedArticles %}
                    <li><a href="{{ path('_single_article', {'aid': article.id}) }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="wrapper comments">
            <ul class="nav nav-list">
                <li class="nav-header">Last post from guest book</li>
                {% for comment in latestComments %}
                    <li><a href="{{ path('_single_comment', {'cid': comment.id}) }}">{{ comment.message|cutString(28) }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="wrapper tags">
            <ul class="nav nav-list">
                <li class="nav-header">Popular tags</li>
                {% for tag in allTags %}
                    {{ tag.name|tagSize(tag.id, path('_single_tag', {'tid': tag.name})) | raw }}
                {% endfor %}
            </ul>
            <hr />
        </div>
    </div>
</div>