{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset  form-horizontal" novalidate="novalidate">
    <div class="form_container" style="margin-left: 0px;">
        {{ form_widget(form._token, {'attr': {'hidden': 'hidden' }}) }}
        {{ form_errors(form._token) }}
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.plainPassword.first) }}</label>
                <div class="col-sm-4">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control' }}) }}
                </div>
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.plainPassword.second) }}</label>
                <div class="col-sm-4">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control' }}) }}
                </div>
                {{ form_errors(form.plainPassword.second) }}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <input class="btn btn-default" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                </div>
            </div>
        </div>
    </div>
</form>
